<!DOCTYPE html>
<head>
	<title>PeriodicoInteractivo</title>
	<meta content="mfv" name="author" />
	<meta charset="UTF-8" />
	<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<header>
		<div id="titulo"><img id="img_principal" src="../static/makoLogo.png" /></div>

		<form action='login' method='post'>
			${formulario}
			${mensaje}
		</form>

	</header>


	<div id="pagina">

		<div id="menu">
		  <ul>
		    <li><a href="rss" title="rss">RSS</a></li>
		    <li><a href="highchart" title="highchart">Gráficas</a></li>
		    <li><a href="mapa" title="mapa">Google Maps</a></li>
		    
		  </ul>
		</div>

		<div id="contenido">

			<h2><center> Bienvenidos a Periodico Interactivo </center></h2>
			
		</div>

		<div id="footer">
			<p>Autor: <b>Grupo ProjectCC</b></p>
		</div>

		
	</div>


</body>



</html>
